body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

.container-1 {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px!important;
  margin: 0 auto;
  position: relative;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

form {
  display: flex;
  align-items: center;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px!important;
  padding: 10px 20px;
  margin-left: 10px!important;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

li {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border-bottom: none;
}

#task {
  width: 100%;
}

#add-button {
  flex: none;
}
